.app .cake-error:first-child, .app .cake-debug-output:first-child {
  margin-top: 70px;
}
.cake-debug, .cake-error {
    margin-left: $sidebar-width;
    padding: 15px;
    background-color: rgb(250,250,150);
}
