$content-background: #FFFFFF;
$content-background-not-logged: #d1dfda;

$navbar-background:#0e3747;
$navbar-color: #ef7e2a;
// $navbar-background:#4f5f6f;
// $navbar-color: #e1e1e1;

$navbar-font-size: 0.9rem;

$sidebar-width: 250px;

$sidebar-background: #0e3747;
$sidebar-color: #ffa154;
// $sidebar-background: #f3f3f3;
// $sidebar-color: #4f5f6f;

$sidebar-background-hover: #ffa154;
$sidebar-color-hover: #0e3747;

$sidebar-menu-dropdown-color: #fff;

$editor-size: 100px;

$navbar-assessment-background: #e0e0e0;
